<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1>Contact</h1>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${contacts}">
        <td th:text="${c.phoneNumber}"></td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.address}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>